html{
	margin:0;
	height:100%;
	width:100%;
	overflow-x:hidden;
}

body{
	margin:0;
	height:100%;
	width:100%;
	overflow-y: hidden;
}

#header{
	background-color:#FF9900;
	text-align:center;
	height:30%;
	width:73.5%;
	display: inline-block;
}

#sidebar{
	font-family: Raleway;
	width:26.3%;
	height: 100%;
	float:right;
	background-color:#FF952A;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

#content{
	background-color: white;
	font-family: Raleway;
	border: .5em solid black;
	height:80%;
	width:70%;
	float:left;
	margin-left:5px;
	overflow-y: scroll;
	overflow-x:hidden;
}

h1{
	margin-top: 50px;
	font-family: Tinos;
	text-align: center;
	font-size: 7em;
	
}

h2{
	margin-top:-25px;
	font-family: Raleway;
}

h3{
	font-family: Raleway;
	font-size: 2em;
	margin-left: 20px;
}

#input{
	font-size: 2em;
	padding-left:35px;
}

#button1{
	margin-top:10px;
}

#button2{
	display: inline-block;
	margin-top: 0px;
}
#button3{
	margin-left: -5px;
	display: inline-block;
	margin-top: 0px:
}
#staff{
	display: block;
	width: 80%;
	height: 80px;
	padding-top: 20px;
	margin: 0 auto;
	padding-bottom: 6px;

}

.draggable{
	display: inline;
}

.staff {
	margin: 0 auto;
}

.staff img {
	display: block;
	margin: 70px auto;
	width: 80%;
	height: 80px;
}

button{
	background-color: #FF850B;
	border: 2px solid #666666;
}
